.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.clean-list{
    list-style-type: none;
}
.capitalize{
    text-transform: capitalize;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}