.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.clean-list{
    list-style-type: none;
}
.capitalize{
    text-transform: capitalize;
}
.position-relative{
    position: relative;
}