.editor-container {
    /* height: 600px; */
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 1fr auto;
    gap: 20px;
    background: linear-gradient(140deg, var(--clr-background-secondary), var(--clr-background-primary));
    box-shadow: 1rem 1rem 0 var(--clr-background-primary);
    padding: 1.5rem;
    border: 2px #b420a851 solid;
    border-radius: 2rem;
}

.editor-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "textBox textBox textBox"
        "lineWrap lineWrap lineWrap"
        "txtIncrease txtDecrease colorPicker"
        "addLine switchLine removeLine"
        "rotateIncrease moveUp rotateDecrease"
        "moveLeft moveDown moveRight";
    gap: 5px;
}

.editor-container a {
    font-size: 2rem;
    font-family: chakra;
    color: var(--clr-background-primary);
}

.editor-container canvas {
    position: absolute;
    left: 0;
    right: 0;
}

.canvas-container {
    width: 500px;
    height: 500px;
}

.canvas-editor {
    cursor: grab;
}
.editor-controls button{
    background: radial-gradient(circle, var(--clr-font-primary) 10%, var(--clr-font-secondary) 90%);
    border-radius: 1rem;
    box-shadow: 7px 7px 0px 0px var(--clr-background-primary);
    border:0px
}
.editor-controls button:active{
    border:2px solid var(--clr-background-primary);
    box-shadow:none
}
.editor-controls button:hover{
    cursor: pointer;
}
.editor-controls button i{
    padding-block: 1rem;
}

input[name='linetext'] {
    grid-area: textBox;
    height: 2rem;
}

div[name='txtColorPickerContainer'] {
    position: relative;
    grid-area: colorPicker;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}
div[name='txtColorPickerContainer'] input{
    padding: .5rem;
    background: radial-gradient(circle, var(--clr-font-primary) 10%, var(--clr-font-secondary) 90%);
    border-radius: 1rem;
    box-shadow: 7px 7px 0px 0px var(--clr-background-primary);
    border:0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
div[name='txtColorPickerContainer'] i{
    pointer-events: none;
    position: absolute;
    top:20%;
    left: 20%;
}
input[name='imgDownload'] {
    grid-area: downloadLink;
}

input[name='txtIncrease'] {
    grid-area: txtIncrease;
}

input[name='txtDecrease'] {
    grid-area: txtDecrease;
}

input[name='addLine'] {
    grid-area: addLine;
}

input[name='removeLine'] {
    grid-area: removeLine;
}

input[name='switchLine'] {
    grid-area: switchLine;
}

input[name='rotateIncrease'] {
    grid-area: rotateIncrease;
}

input[name='rotateDecrease'] {
    grid-area: rotateDecrease;
}

input[name='moveLeft'] {
    grid-area: moveLeft
}

input[name='moveRight'] {
    grid-area: moveRight
}

input[name='moveUp'] {
    grid-area: moveUp
}

input[name='moveDown'] {
    grid-area: moveDown
}

input[name='lineWrap'] {
    grid-area: lineWrap
}