.editor{
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-rows: 1fr auto;
    gap: 20px;
    background: linear-gradient(140deg , var(--clr-background-secondary), var(--clr-background-primary));
    box-shadow: 1rem 1rem 0 var(--clr-background-primary);
    padding: 1.5rem;
    border-radius: 2rem;
}
.editor-controls{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "textBox textBox textBox"
    "txtIncrese txtDecrease colorPicker"
    "addLine switchLine switchLine";
}
input[name='linetext']{
    grid-area: textBox;
    height: 2rem;
}
input[name='txtColorPicker']{
    grid-area:colorPicker;
    justify-self: center;
    align-self: center;
}
input[name='imgDownload']{
    grid-area:downloadLink;
}
input[name='txtIncrease']{
    grid-area: txtIncrease;
}
input[name='txtDecrease']{
    grid-area: txtDecrease;
}
input[name='addLine']{
    grid-area: addLine;
}
input[name='switchLine']{
    grid-area: switchLine;
}